* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

a,
textarea,
input,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
